<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Late Antique Christian Texts">
<meta name="keywords" content="XML,TEI,Patristics">
<meta name="author" content="Annette von Stockhausen">
<title>Patristic Text Archive</title>
<!-- {% seo %} -->

{{ $main := resources.Get "css/main.css"}}
<link rel="stylesheet" href="{{ $main.RelPermalink }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
